*.npz
server/data/in/*.nii.gz
server/data/in/*.npz
server/lefusion/outputs

server/lefusion/LeFusion_model
server/lefusion/outputs
server/lefusion/*.ipynb
*.pyc
.ipynb_checkpoints

server/outputs

dev

external